.header{
	background-image: url('/images/assets/bg.jpg');
	// background-size:cover;
	// background-repeat: no-repeat;
	background-repeat: repeat;
}
.header-image{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	display: block;
}



.section-heading{
	position: absolute;
	top: -1vw;
	left: 2vw;
	font-size: 3vw;
	letter-spacing: 7px;
	text-transform: uppercase;

	@include transform(rotate(90deg));
	@include transform-origin(left, center);
}

.about{
	padding: 6vw 0;
	color: $color-yellow;
	background-color: $color-gray;
}


.about-heading{
	margin: 3vh 0;
	font-size: 8vw;
	text-align: right;
}


.about-text > p{
	margin: 4vh 0;
	font-size: 5vh;
	line-height: 1.3em;
	&:nth-of-type(2){
		text-align: right;
	}
	span{
		background-color:$color-yellow;
		color:$color-gray;
	}
}

.listen{
	padding: 12vh 0;
	background-color: $color-yellow;
}
.listen-list{
	text-align: center;
}

.listen-list-item{
	// 
	margin: 1.5vh;
	display: inline-block;
	&:nth-of-type(1){
		a{
			padding: 2vw 0.5vw;
			font-size: 6vw;
		}
	}
	&:nth-of-type(2){
		a{
			font-size: 3vh;
		}
	}
	&:nth-of-type(3){
		a{
			padding: 0 5vw;
		}
	}
}

.listen-list-link{
	padding: 2vh;
	border: 1px solid $color-gray;
	display: block;
	font-size: 8vw;
	text-decoration: none;
	color: $color-yellow;
	background-color: $color-gray;
	&:hover{
		color: $color-gray;
		background-color: $color-yellow;
	}
}

.tracks{
	padding: 6vw 0;
	color: $color-yellow;
	background-color: $color-gray;
}
.tracks-list{
	line-height: 10vh;
}
.tracks-list-item{
	margin: 1.5vh;
	padding: 1vh 2vh ;
	display: inline-block;
	font-size: 3vw;
	line-height: 1.2em;
	text-decoration: none;
	text-transform: uppercase;
	color: $color-gray;
	background-color: $color-yellow;
	&:nth-of-type(1){
		padding: 0vw 1.5vw;
		font-size: 4vw;
	}
	&:nth-of-type(2){
		font-size: 3vh;
	}
	&:nth-of-type(3){
		padding: 1vw 5vw;
	}
	&:nth-of-type(4){
		padding: 0.2vh 1.5vw;
		font-size: 4vw;
	}
	&:nth-of-type(5){
		font-size: 3vw;
	}
	&:nth-of-type(6){
		padding: 1vh 3vh;
	}
	&:nth-of-type(7){
		padding: 1vw 1.5vw;
		font-size: 4vw;
	}
	&:nth-of-type(8){
		font-size: 3vw;
	}
	&:nth-of-type(9){
		padding: 1vw 3vh;
	}
	&:nth-of-type(10){
		font-size: 3vh;
	}
}
.news-link{
	padding: 2vh;
	border: solid 2vh $color-gray;
	display: block;
	font-size: 8vw;
	text-decoration: none;
	color: $color-gray;
	background-color: $color-yellow;
	&:hover{
		color: $color-yellow;
		background-color: $color-gray;
	}
}
.contact-link{
	padding: 2vh;
	border: solid 5vw $color-gray;
	display: block;
	font-size: 6vw;
	text-align: right;
	text-decoration: none;
	color: $color-gray;
	background-color: $color-yellow;
	&:hover{
		border-color: $color-yellow;
		color: $color-yellow;
		background-color: $color-gray;
	}
}
.news{
	padding: 7vh 0;
	background-color: $color-yellow;
}
.contact{
	padding: 12vh 0;
	background-color: $color-yellow;
}
